@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'normal-vazir';
    src: url('../public/font/ttf/Vazirmatn-Light.ttf');
  }


body{
  font-family: 'normal-vazir'!important;
}